body,
html {
    height: 108%;
}

body {
    background-image: url("http://wallpaperheart.com/wp-content/uploads/2018/04/view-nature-background-nature.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    margin: 0;
}

.bg-container {
    height: inherit;
}

.sub-container {
    width: 28%;
    height: auto;
    border: 3px solid white;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #ecb659;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 100%);
}

.table-container {
    width: 85%;
    margin: auto;
    padding: 50px;
}


/* .child-container {} */

h1 {
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    padding-top: 30px;
}


/* -----------------------------BUTTON ---------------------------- */


/* .button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
} */


/* ------------------------------ TABLE ---------------------------- */

table th:hover {
    cursor: pointer;
}

table th:nth-child(9) {
    width: 155px;
}

tbody>tr>td:nth-child(9) {
    text-align: center;
}

table thead {
    flex: 0 0 auto;
    /* width: calc(100% - 1.1em); */
    width: calc(101.2% - 1.1em);
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 8px 16px 1px rgba(255, 255, 255, .8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* vertical scroll */
    table-layout: auto;
    display: flex;
    flex-flow: column;
    height: 50%;
    table-layout: fixed;
    /* background-color: #4CAF50; */
    /* border: #f1f1f1 2px solid; */
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

#customers tr:nth-child(even) {
    background-color: #41b0be;
}

#customers tr:nth-child(odd) {
    background-color: #d5dbdb;
}

#customers tr:hover {
    background-color: rgb(26, 168, 81);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


/* -------------------------------TABLE END---------------------------------- */


/* ----------------------------------FORM ----------------------------------- */

.form-container {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

label {
    display: inline-block;
    padding: 7px 7px 5px 0;
}

#idNum,
#lname,
#fname,
#uAge,
#uEmail,
#adr,
select#country {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(65, 62, 62);
    border-radius: 4px;
    box-sizing: border-box;
    /* text-align: center; */
}

input[type=text]:hover,
select:hover,
textarea:hover {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 18px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.previewbtn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover,
.previewbtn:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(65, 62, 62);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


/* -------------------------- FORM END ---------------------------- */


/*-------------------------- NAVIGATION ------------------------- */

.returnbtn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    text-align: center;
}

.returnbtn:hover{
    background-color: #fffb00;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* ------------------------- NAVIGATION END ------------------------- */


/* ------------------------- SEARCH BAR -------------------------------- */

form.searchform {
    margin: auto;
}

form.searchform input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.searchform select {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    height: 42px;
}

form.searchform button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 42px;
}

form.searchform button:hover {
    background: #0b7dda;
}

form.searchform::after {
    content: "";
    clear: both;
    display: table;
}


/* ---------------------------SEARCH BAR END------------------------- */

/* ---------------------------BOOSTRAP------------------------- */

.col-sm{
    padding-left: unset;
    padding-right: unset;
}



/* ---------------------------BOOSTRAP END------------------------- */

